{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="glass-card" style="width: 420px;">

        <div class="text-center mb-4">
            <h1>🚀 Docket</h1>
            <p class="text-light">
                Smart Productivity Dashboard
            </p>
        </div>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>

                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Enter username"
                    autocomplete="new-password"
                >
            </div>

            <div class="mb-4">

                <label class="form-label">Password</label>

                <div class="input-group">

                    <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        placeholder="Enter password"
                        autocomplete="new-password"
                    >

                    <button
                        type="button"
                        class="btn btn-outline-light"
                        onclick="togglePassword()"
                    >
                        <i class="fa-solid fa-eye"></i>
                    </button>

                </div>
            </div>

            <button class="btn btn-success w-100 mb-3">
                Login
            </button>

        </form>

        <div class="text-center">

            <p>
                Don't have an account?
            </p>

            <a href="/accounts/register/" class="btn btn-outline-light">
                Register
            </a>

        </div>

    </div>

</div>

<script>

function togglePassword(){

    let pass = document.getElementById("password");

    if(pass.type === "password"){
        pass.type = "text";
    }
    else{
        pass.type = "password";
    }
}

</script>

{% endblock %}