<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Docket Dashboard</title>

    {% load static %}

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="app-layout">

    <!-- SIDEBAR -->

    <aside class="sidebar">

        <div>

            <h1 class="logo">🚀 Docket</h1>

            <nav class="sidebar-nav">

                <a href="{% url 'dashboard' %}">
                    📊 Dashboard
                </a>

                <a href="{% url 'add_task' %}">
                    ➕ Add Task
                </a>

                <a href="{% url 'task_list' %}">
                    📋 My Tasks
                </a>

            </nav>

        </div>

        <div class="sidebar-bottom">

            <div class="profile-box">
                👤 {{ request.user.username }}
            </div>

            <a href="{% url 'logout' %}"
               class="logout-btn">
                Logout
            </a>

        </div>

    </aside>

    <!-- MAIN -->

    <main class="main-content">

        {% block content %}
        {% endblock %}

    </main>

</div>

</body>

</html>