{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <h1>📊 Dashboard</h1>

    <p>
        Welcome back,
        {{ request.user.username }}
    </p>

</div>

<div class="stats-grid">

    <div class="stat-card blue">

        <h2>{{ pending_tasks }}</h2>

        <p>Pending Tasks</p>

    </div>

    <div class="stat-card green">

        <h2>{{ completed_tasks }}</h2>

        <p>Completed Tasks</p>

    </div>

</div>

<div class="section-card">

    <div class="section-top">

        <h2>🔥 Latest Tasks</h2>

        <a href="{% url 'task_list' %}"
           class="small-btn">
            View All
        </a>

    </div>

    {% for task in tasks %}

    <div class="task-row">

        <div>

            <h3>{{ task.title }}</h3>

            <small>
                {{ task.category }}
            </small>

        </div>

        {% if task.due_date %}
        <div class="task-date">
            ⏰ {{ task.due_date|date:"M d, Y h:i A" }}
        </div>
        {% endif %}

    </div>

    {% empty %}

    <p>No tasks yet.</p>

    {% endfor %}

</div>

{% endblock %}