{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">My Tasks</h1>

<div class="card shadow-sm">

    <div class="card-body">

        <table class="table">

            <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Python Project Submission</td>
                    <td>Pending</td>
                </tr>

                <tr>
                    <td>GitHub Push</td>
                    <td>Completed</td>
                </tr>

            </tbody>

        </table>

    </div>

</div>

{% endblock %}